.App {
  text-align: center;
  margin: 200px;
}

.container {
  gap: 0;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-template-areas:
    'result result result result'
    'ac plusminus  per division'
    'seven eight nine multi'
    'four five six minus'
    'one two three plus'
    'cero cero dot equal';
}

.ac {
  grid-area: ac;
}

.plusminus {
  grid-area: plusminus;
}

.percent {
  grid-area: per;
}

.division {
  grid-area: division;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.cero {
  grid-area: cero;
}

.dot {
  grid-area: dot;
}

.multi {
  grid-area: multi;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

.equal {
  grid-area: equal;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.gray {
  background-color: gray;
}

.result {
  display: flex;
  color: white;
  justify-content: end;
  align-items: center;
  grid-area: result;
}

.calc-result {
  margin-right: 10px;
}
