body {
  background-image: linear-gradient(120deg, #141108, #fff);
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.container {
  gap: 0;
  display: grid;
  min-width: 250px;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-template-areas:
    'result result result result'
    'ac plusminus  per division'
    'seven eight nine multi'
    'four five six minus'
    'one two three plus'
    'cero cero dot equal';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calc {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.home {
  margin: 35px 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.left {
  text-align: start;
}
